h2  Justificación <br> del programa
.brand-line-primary
     
p.mt-5 El Diseño Curricular en el SENA, es un procedimiento mediante el cual se estructuran programas de Formación Profesionall, bajo el modelo de Competencias Laborales, que procura asegurar la pertinencia y calidad de la oferta formativa y proporcionar criterios para la ejecución de la misma en los Centros de Formación a nivel país.

p Este procedimiento, requiere de una orientación metodológica y un grupo de personas técnicas que construyan de manera conjunta la estructura general del programa, el cual precisa características y proyecciones del contexto laboral y ocupacional, perfiles de salida y de ingreso del aprendiz, competencias del programa, y tipo de certificación entre otros requerimientos.

p En el SENA, la Dirección de Formación Profesional, es responsable de la elaboración de los programas de formación bajo los estándares de calidad establecidos en el procedimiento de diseño curricular; para lo cual, este programa de formación complementaria Aplicación de metodología SENA para diseño curricular, tiene como objetivo orientar a los equipos de diseño curricular, conformados a través de la estrategia de Redes de Conocimiento, la estandarización de las actividades definidas en el procedimiento y la guía de diseño curricular, que den respuesta  a las necesidades del sector productivo y social del país y que se ofertarán  en los diferentes centros de formación, los cuales deben estar en estado de ejecución en el aplicativo Sofiaplus.      
