.curso-portada.mt-5

    h1.curso-titulo.mt-5 APLICACIÓN DE LA METODOLOGÍA SENA PARA EL DISEÑO CURRICULAR
    h3.curso-subtitulo Código: 41311501
    .brand-line-primary


    .row.align-items-start

        .col-12.col-lg-6

            p.curso-descripcion 
                ul.list-unstyled
                    li.mb-2
                        i.fa.fa-clock-o.mr-3
                        strong.mr-2 Duración Total:
                        | 96 horas
                    li.mb-2 
                        i.fa.fa-calendar-o.mr-3
                        strong.mr-2 Duración en semanas:
                        | 8 semanas

                    li.mb-2 
                        i.fa.fa-graduation-cap.mr-3
                        strong.mr-2 Modalidad:
                        | Virtual

                    li 
                        i.fa.fa-check-square-o.mr-3
                        strong Requisito de ingreso:
                        br
                        .ml-3
                            ul
                                li
                                    span.base-light-font-weight Instructores Sena.
                                li
                                    span.base-light-font-weight Coordinadores académicos.
                                li            
                                    span.base-light-font-weight Funcionarios Sena con cargo de Profesional con funciones de diseño curricular.
                    

        .col-12.col-lg-6
            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/z3I3tEBQnlc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
