//Colores base del material de formación
$brand-color-dark: $gray-500;
$text-color-dark: $primary;

//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #D2DDEC;
$text-color-light: $primary;
$brand-color-secondary: #E6E5E7;